@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.section__padding {
    padding: 2rem 10rem;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}

@media screen and (max-width: 900px) {
    .section__padding {
        padding: 2rem 4rem;
    }

}

@media screen and (max-width: 550px) {
    .section__padding {
        padding: 1rem 2rem;
    }

}